<head>
  <meta charset="utf-8" />
  <link
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    rel="stylesheet"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous"
  />
</head>

<body>
  <div>
    <h1>Met Hotels</h1>
  </div>
  <div>
    <form action="#" [formGroup]="form">
      <div>
        <label for="type" class="label">Hotel:</label>
        <input
          required
          id="nazivhotela"
          #newtitle
          placeholder="Naziv hotela"
          name="type"
          formControlName="nazivHotelaForma"
          [ngClass]="{
            'is-invalid':
              form.get('nazivHotelaForma').touched &&
              form.get('nazivHotelaForma').invalid
          }"
        />
        <div
          *ngIf="
            form.get('nazivHotelaForma').touched &&
            form.get('nazivHotelaForma').invalid
          "
          class="invalid-feedback"
        >
          <div *ngIf="form.get('nazivHotelaForma').errors.required">
            Naziv hotela je obavezno polje!
          </div>
          <div *ngIf="form.get('nazivHotelaForma').errors.minlength">
            Naziv mora imati bar 6 karaktera!
          </div>
        </div>
      </div>
      <div>
        <label for="price" class="label"> Cena:</label>
        <input
          required
          id="cenahotela"
          type="number"
          #newprice
          placeholder="cena"
          name="cena"
          formControlName="cenaHotelaForma"
          [ngClass]="{
            'is-invalid':
              form.get('cenaHotelaForma').touched &&
              form.get('cenaHotelaForma').invalid
          }"
        />
        <div class="invalid-feedback">
          <div>Cena je obavezna!</div>
        </div>
      </div>
      <div>
        <label for="price" class="labele">Nocenja:</label>
        <input
          required
          id="nights"
          type="number"
          class="form-control"
          style="text-align:center"
          #newnights
          placeholder="Broj nocenja"
          name="nights"
          formControlName="nocenjaHotelaForma"
          [ngClass]="{
            'is-invalid':
              form.get('nocenjaHotelaForma').touched &&
              form.get('nocenjaHotelaForma').invalid
          }"
        />
        <div class="invalid-feedback">
          <div>Unos za broj nocenja je obavezan!</div>
        </div>
      </div>

      <button
        type="button"
        class="btn btn-primary"
        (click)="dodajHotel(newtitle, newprice, newnights)"
        [disabled]="!form.valid"
      >
        Potvrdi
      </button>
      <button type="button" class="btn btn-primary" (click)="changeOrder()">
        Promena Redosleda
      </button>
    </form>
    <div>
      <div>
        <h3>Pretraga po ceni</h3>
        <input [(ngModel)]="price" placeholder="CENA" />
      </div>
      <div *ngFor="let hotel of hotels | filter: price; index as i">
        <app-hotels
          (hotelToDelete)="deleteHotel($event)"
          (updateHotel)="changeContent($event)"
          [hotel]="hotel"
        ></app-hotels>
      </div>
    </div>
  </div>
</body>
